@import "~bootstrap-sass/assets/stylesheets/_bootstrap";

.no-left-padding {
  padding-left: 0 !important;
}
.no-right-padding {
  padding-right: 0 !important;
}
.no-top-margin {
  margin-top: 0 !important;
}
.no-bottom-margin {
  margin-bottom: 0 !important;
}